# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files (رازها هرگز پوش نمی‌شوند!)
.env
.env*.local

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem
*.log
pg.log
start-pg.mjs
